{% extends 'base.html' %}
{% block main %}
    {% if user.is_staff %}
        <div class="card mb-3">
            <div class="card-body">
                <form action="../post_client/" method="post">
                    {% csrf_token %}
                    <h5>Add person:</h5>
                    <div class="mb-3">
                        <input class="form-control"
                               placeholder="Person name"
                               name="text"
                               required/>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body" id="orders_new">
                            <h6>Add details:</h6>
                            <div class="mb-3">
                                <input class="form-control"
                                       placeholder="phone number"
                                       name="description"
                                       required/>
                            </div>
                            <div class="mb-3">
                                <input class="form-control"
                                       placeholder="email"
                                       name="qty"
                                       required/>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success" type="submit">
                            Save
                        </button>
                    </div>

                </form>
            </div>
        </div>
        <h4 class="card-title">Available People</h4>

{% if message %}
<p class="alert alert-success">
<strong>{{ message }}</strong>
</p>
{% endif %}
{% if latest_names %}
<ul>
{% for name in latest_names %}
 <li>
                <a href="/phonebook/{{ name.id }}/">
                    {{ name.person_name }}
                </a>
            </li>
{% endfor %}
</ul>
{% else %}
<p>No people are available right now.</p>
{% endif %}
    {% else %}
        <h4>Access denied.</h4>
    {% endif %}
{% endblock %}